{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h2>
  {{ owner }}/{{ repository }}
  <a href="https://github.com/{{ owner }}/{{ repository }}" target="_blank"><i class="bi bi-link-45deg"></i></a>
</h2>
<p class="lead">

  This website provides an insight on the last changes made on
  <a href="https://github.com/{{ owner }}/{{ repository }}" target="_blank">Azure Docs GitHub repository</a> in the
  main branch over the last {{ since }} days.
</p>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">File or folder</th>
      <th scope="col" class="text-center">Github</th>
      <th scope="col" class="text-end">Last changes</th>
    </tr>
  </thead>
  <tbody>
    {% for c in contents %}
    <tr tabindex="0">
      <td>{{ c.name }}</td>
      <td class="text-center">
        <a href="{{ c.html_url }}" target="_blank" title="Look this file or folder on GitHub">
          <i class="bi bi-github"></i>
        </a>
      </td>
      <td class="text-end">
        <i class="bi bi-eye"></i>
        <a href="/articles/{{ c.name }}" title="Get last changes for this path">Last changes</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</main>
{% endblock %}
