{% extends "base.html" %}
{% block title %}{{ repository.display_name }}{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ repository.display_name }}</li>
  </ol>
</nav>
<div class="row mb-3">
  {% if repository.icon %}
  <div class="col-1 text-center p-3">
    <img src="{{ url_for('static', filename=repository.icon) }}" alt="Icon of {{ repository.display_name }} repository"
      style="width:100%;">
  </div>
  {% endif %}
  <div class="col">
    <h2>
      {{ repository.owner }}/{{ repository.repository }}
    </h2>
    <div class="btn-group btn-group-sm mt-1" role="group" aria-label="Actions">
      <a href="https://github.com/{{ repository.owner }}/{{ repository.repository }}" target="_blank"
        title="View this repository on GitHub" class="btn btn-outline-primary">
        <i class="bi bi-github"></i> View on GitHub</a>
      <a href="/feed/{{ repository.name }}" title="RSS Feed of the last changes for this repository"
        class="btn btn-outline-primary">
        <i class="bi bi-rss" style="color:#fd7e14;"></i> RSS Feed</a>
      <a href="/api/{{ repository.name }}" title="View the result as JSON formatted" class="btn btn-outline-primary">
        <i class="bi bi-filetype-json"></i> View as JSON</a>
    </div>
    <p class="lead mt-2">
      This website provides an insight on the last changes made on
      <a href="https://github.com/{{ repository.owner }}/{{ repository.repository }}" target="_blank">
        {{ repository.owner }}/{{ repository.repository }} GitHub repository
      </a> in the main branch over the last {{ since }} days.
    </p>
  </div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">File or folder <small class="text-muted" style="font-weight: normal;">({{ contents|length
          }})</small></th>
      <th scope="col" class="text-center">Last changes</th>
      <th scope="col" class="text-center">RSS Feed</th>
      <th scope="col" class="text-center">JSON</th>
      <th scope="col" class="text-center">Github</th>
    </tr>
  </thead>
  <tbody>
    {% for c in contents %}
    <tr tabindex="0">
      <td>{{ c.name }}</td>
      <td class="text-center">
        <i class="bi bi-eye"></i>
        <a href="/{{ repository.name }}/{{ c.name }}" title="Get last changes for this path">
          Last changes
        </a>
      </td>
      <td class="text-center">
        <a href="/feed/{{ repository.name }}/{{ c.name }}" title="Get last changes for this path" style="color:#fd7e14;"
          title="RSS Feed of the last changes for this section">
          <i class="bi bi-rss"></i>
        </a>
      </td>
      <td class="text-center">
        <a href="/api/{{ repository.name }}/{{ c.name }}" title="Get last changes for this path as JSON"
          title="JSON of the last changes for this section">
          <i class="bi bi-filetype-json"></i>
        </a>
      </td>
      <td class="text-center">
        <a href="{{ c.html_url }}" target="_blank" title="Look this file or folder on GitHub">
          <i class="bi bi-github"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</main>
{% endblock %}
